v-row
  v-col
    h1.display-1 Trading
    v-card.mt-2(tile)
      v-form(ref="filterForm")
        v-container
          v-row
            v-col.py-1(md="5", cols="12")
              v-autocomplete(
                v-model="startLocation",
                :items="locations",
                return-object,
                :item-text="displayWithLocation",
                label="Start Location",
                prepend-icon="fas fa-plane-departure",
                clearable,
                dense
              )
            v-col.py-1(md="5", cols="12")
              v-autocomplete(
                v-model="endLocation",
                :items="locations",
                return-object,
                :item-text="displayWithLocation",
                label="End Location",
                prepend-icon="fas fa-plane-arrival",
                clearable,
                dense
              )
            v-col.py-1(md="2", cols="4")
              v-autocomplete(
                v-model="gameVersion",
                :items="gameVersions",
                return-object,
                item-text="identifier",
                label="Game Version",
                required,
                dense
              )
            v-col.py-1(md="5", cols="4")
              v-autocomplete(
                v-model="selectedCommodities",
                :items="commodities",
                :item-text="displayWithCommodity",
                return-object,
                label="Commodities",
                multiple,
                small-chips,
                deletable-chips,
                clearable,
                dense
              )
            v-col.py-1(md="7", cols="4")
            //- v-col(cols="12", md="3")
            //-   v-text-field(type="number", min="1", v-model.number="maxScu", label="Max SCU")
            //- v-col(cols="12", md="3")
            //-   v-text-field(type="number", min="1", v-model.number="startCurrency", label="Start aUEC")
            v-col.py-1(cols="12")
              v-row.mx-0
                v-btn(color="primary darken-1", tile, small, @click="search({ fetchPolicy: 'network-only' })") Search
                v-spacer
                v-tooltip(bottom, :disabled="currentUser && currentUser.hasAnyRole(['USER', 'ADVANCED', 'ADMIN'])")
                  template(v-slot:activator="{ on }")
                    div(v-on="on")
                      v-btn(
                        @click="reportPricesModal = true",
                        color="accent",
                        tile,
                        small,
                        :disabled="currentUser === null || !currentUser.hasAnyRole(['USER', 'ADVANCED', 'ADMIN'])"
                      )
                        | Report Prices
                  template(v-if="!currentUser")
                    span Please log in to use this feature
                  template(v-else)
                    span You do not have sufficient rights, contact us on Discord
                report-price(:open="reportPricesModal", :location="startLocation", @close="reportPricesModalClosed()")
                v-tooltip(bottom, :disabled="currentUser && currentUser.hasAnyRole(['ADVANCED', 'ADMIN'])")
                  template(v-slot:activator="{ on }")
                    .ml-2(v-on="on")
                      v-menu(
                        offset-y,
                        :disabled="currentUser === null || !currentUser.hasAnyRole(['ADVANCED', 'ADMIN'])"
                      )
                        template(v-slot:activator="{ on }")
                          div(v-on="on")
                            v-btn(
                              color="secondary",
                              tile,
                              small,
                              :disabled="currentUser === null || !currentUser.hasAnyRole(['ADVANCED', 'ADMIN'])"
                            )
                              | Miss Something?
                        v-list
                          v-list-item(@click="createLocationModal = true")
                            v-list-item-title Add new Location
                          v-list-item(@click="createCommodityModal = true")
                            v-list-item-title Add new Commodity
                          v-list-item(@click="createGameVersionModal = true")
                            v-list-item-title Add new Game Version
                  template(v-if="!currentUser")
                    span Please log in to use this feature
                  template(v-else)
                    span You do not have sufficient rights, contact us on Discord
                create-commodity(:open="createCommodityModal", @close="createCommodityModalClosed()")
                create-game-version(:open="createGameVersionModal", @close="createGameVersionModalClosed()")
                create-location(:open="createLocationModal", @close="createLocationModalClosed()")
    v-data-table.elevation-1(
      :headers="headers",
      :items="trades",
      sort-by="profit",
      :sort-desc="true",
      :items-per-page="25",
      no-data-text="You may have set the filter too high or the currently selected version has not yet received price reports",
      :height="tableHeight"
    )
      template(v-slot:body="{ items }")
        tbody
          tr(v-for="item in items", :key="item.id")
            td {{ displayWithCommodity(item.item) }}
            router-link.cursor-pointer(tag="td", :to="`/location/${item.startLocation.id}`")
              | {{ displayWithLocation(item.startLocation) }}
            router-link.cursor-pointer(tag="td", :to="`/location/${item.endLocation.id}`")
              | {{ displayWithLocation(item.endLocation) }}
            td.text-right {{ item.buyItemPrice.unitPrice.toFixed(2) }}
            td.text-right {{ item.sellItemPrice.unitPrice.toFixed(2) }}
            td.text-right {{ item.profit.toFixed(2) }}
            td.text-right {{ item.margin.toFixed(2) }} %
            td {{ item.scanTime | moment('LLL') }}
