v-row
  v-col
    h1.display-2 Shout Outs
    v-container(fluid)
      v-row
        v-col(lg="6", md="6", sm="11")
          v-card(tile, min-width="497")
            .pa-2
              v-img(
                src="https://yt3.ggpht.com/UjLOwPyJDQ_y4EBi_s3biuPZNIac9DVbbdCATk4TVha7a0LUoo13T_bHVGJ-8B9aaRh-i78z2mdQyGI=s1121-nd",
                aspect-ratio="1.01326259947",
                max-width="200"
              )
            v-card-title(primary-title)
              div
                h3.headline.mb-0 KnebelDE
                div
                  | Supported this website in the following video (15:02):
                  iframe(
                    width="465",
                    height="262",
                    src="https://www.youtube.com/embed/65y8GTI6GSI?start=902",
                    frameborder="0",
                    allow="autoplay; encrypted-media; picture-in-picture",
                    allowfullscreen
                  )
            v-card-actions
              v-btn(href="https://www.youtube.com/user/Knebelinolein", target="_blank", color="red accent-4", tile)
                | YouTube
              v-btn(href="https://www.twitch.tv/knebelde", target="_blank", color="deep-purple", tile)
                | Twitch
              v-btn(href="https://www.patreon.com/KnebelDE", target="_blank", color="deep-orange", tile)
                | Patreon
              v-btn(href="https://www.facebook.com/KnebelDE", target="_blank", color="indigo darken-1", tile)
                | Facebook
        v-col(lg="5", md="6", sm="11")
          v-card(tile, style="background-image: url(https://www.black-horizons.space/images/background_20170430.jpg);")
            .pa-2
              v-img(
                src="https://www.black-horizons.space/styles/pbtech/theme/images/bh_logo.png",
                aspect-ratio="10.9264705882"
              )
            v-card-title.headline Black Horizons
            v-card-text
              div Clan of the website owner
            v-card-actions
              v-btn(href="https://www.black-horizons.space", target="_blank", color="orange", tile)
                | Forum
        v-col(lg="5", md="6", sm="11")
          v-card(tile)
            v-img(
              src="https://starcitizenbase.de/wp-content/uploads/2018/02/Bild_2_Knusper_Logo-800x445.jpg",
              aspect-ratio="1.79775280899"
            )
            v-card-title.headline Knusper
            v-card-text
              div He creates great German content for Star Citizen
            v-card-actions
              v-btn(
                href="https://www.youtube.com/channel/UCoRflWTWHvr0jbKzIVYtGzw",
                target="_blank",
                color="red accent-4",
                tile
              )
                | YouTube
              v-btn(href="https://www.patreon.com/Knusper", target="_blank", color="deep-orange", tile)
                | Patreon
              v-btn(href="https://www.facebook.com/KNUSPERLIVE", target="_blank", color="indigo darken-1", tile)
                | Facebook
