v-row
  v-col
    h1.display-1 Sign Up
    v-row
      v-col(md="5", sm="12")
        v-form(ref="form")
          v-row
            v-col
              v-text-field(
                v-model="username",
                :rules="usernameRules",
                label="Username",
                autocomplete="off",
                hint="The username you use to log into the app later",
                required
              )
              v-text-field(
                v-model="handle",
                :rules="handleRules",
                :counter="50",
                label="Star Citizen Handle",
                autocomplete="off",
                required
              )
              v-text-field(
                v-model="email",
                :rules="emailRules",
                label="E-Mail",
                autocomplete="off",
                required,
                ref="emailInput"
              )
              v-text-field(
                v-model="confirmEmail",
                :rules="confirmEmailRules",
                label="Confirm E-Mail",
                autocomplete="off",
                required
              )
              v-btn(block, tile, :disabled="invalid", @click="submit") Sign Up
      v-col(offset-md="1", md="6", sm="12")
        p
          | You will receive the access data with password to your specified E-Mail address. The mail will be sent from
          |
          em.mono sctrademarket@gmail.com
